extends ../layout

block scripts
    script(src="/socket.io/socket.io.js")
    script(src='javascripts/chat.js')

block content
    h1 chat here
    input(type=text,name=username,id='nameTxt',placeholder='enter your name...')
    br
    textarea(name=chattext,id='messageTxt')
    br
    button(type=submit id='sendBtn') send

    div(id='chatarea')